html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #dfd9d9;
    font-family: "Arial", sans-serif;
}

/* Header */
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
}

a {
    color: #3279c5;
    text-decoration: none;
    font-size: 16px;
    margin-block: 10px;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

h1 {
    margin-bottom: 0;
    color: #343a40;
    font-size: 22px;
    grid-column: 2;
    grid-row: 2;
}

.logo {
    width: 12%;
    height: 100%;
    margin-top: 5px;
    grid-column: 2;
    grid-row: 1;
}

nav {
    display: flex;
    gap: 2rem;
    font-size: 20px;
    grid-column: 3;
    grid-row: 1;
}

nav .active {
    text-decoration: underline;
    font-weight: bold;
}

/* Containers */
.container,
#employee-div {
    display: grid;
    max-width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Réduction de l'ombre */
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
}

#employee-div h1 {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    margin-bottom: 10px;
}

.ag-theme-alpine {
    grid-column: 1 / span 3;
}

h2 {
    margin-block-start: 0.3rem;
    margin-block-end: 2.5rem;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    font-size: 1.5rem;
    color: #343a40;
    font-family: Arial, sans-serif;
}

form {
    grid-column: 1 / span 3;
    grid-row: 2;
}

/* Form Labels */
label {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

/* Form Fields */
input,
select {
    width: 98%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    color: #495057;
}

input:focus,
select:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25); /* Réduction de l'ombre focus */
}

.dates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.address {
    margin-top: 10px;
}

/* Boutons */
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
}

button:hover {
    background-color: #218838;
}

button:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(40, 167, 69, 0.25); /* Réduction de l'ombre focus */
}

.submitBtn {
    margin-top: 20px;
    display: block;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown__select {
    border: 1px solid #767676;
    display: flex;
    padding: 0 5px;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;
    transition: transform 0.25s ease-in-out; /* Simplification de l'animation */
}

.dropdown__select__icone--rotate {
    transform: rotate(180deg);
}

.dropdown__open {
    background-color: #fff;
    z-index: 10;
    width: 100%;
    position: absolute;
    overflow: hidden;
    border: 1px solid #767676;
}

.custom-scrollbar {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #bfbfbf #f0f0f0;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 10px;
}

.names {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.modal-content h1 {
    color: #3498db;
}
